<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}"
    />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block extra_head %}
    <link
      rel="stylesheet"
      href="{{ get_url(path='style.css', cachebust=true) }}"
    />
    {% endblock extra_head %} {% block feed_link %} {% if config.generate_feed
    %}
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Feed"
      href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}"
    />
    {% endif %} {% endblock %}
  </head>
  <body>
    <p>{{ config | json_encode() | safe }}</p>
    <p>{{ taxonomy | json_encode() | safe }}</p>
    <p>{{ current_url | json_encode() | safe }}</p>
    <p>{{ current_path | json_encode() | safe }}</p>
    <p>{{ terms | json_encode() | safe }}</p>
    <p>{{ lang | json_encode() | safe }}</p>
  </body>
</html>
